/*https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap*/
/* vietnamese */
@font-face {
  font-family: 'The Nautigal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fontsCollection/The_Nautigal/TheNautigal-Bold.eot");
  src: url("/fontsCollection/The_Nautigal/TheNautigal-Bold.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/The_Nautigal/TheNautigal-Bold.woff2") format('woff2'),
       url("/fontsCollection/The_Nautigal/TheNautigal-Bold.woff") format('woff'),
       url("/fontsCollection/The_Nautigal/TheNautigal-Bold.ttf") format('truetype');
}
/* latin-ext */
@font-face {
  font-family: 'The Nautigal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fontsCollection/The_Nautigal/TheNautigal-Regular.eot");
  src: url("/fontsCollection/The_Nautigal/TheNautigal-Regular.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/The_Nautigal/TheNautigal-Regular.woff2") format('woff2'),
       url("/fontsCollection/The_Nautigal/TheNautigal-Regular.woff") format('woff'),
       url("/fontsCollection/The_Nautigal/TheNautigal-Regular.ttf") format('truetype');
}


/*https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap*/
/* vietnamese */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fontsCollection/Dancing_Script/DancingScript-Regular.eot");
  src: url("/fontsCollection/Dancing_Script/DancingScript-Regular.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Dancing_Script/DancingScript-Regular.woff2") format('woff2'),
       url("/fontsCollection/Dancing_Script/DancingScript-Regular.woff") format('woff'),
       url("/fontsCollection/Dancing_Script/DancingScript-Regular.ttf") format('truetype');
}
/* latin-ext */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fontsCollection/Dancing_Script/DancingScript-Medium.eot");
  src: url("/fontsCollection/Dancing_Script/DancingScript-Medium.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Dancing_Script/DancingScript-Medium.woff2") format('woff2'),
       url("/fontsCollection/Dancing_Script/DancingScript-Medium.woff") format('woff'),
       url("/fontsCollection/Dancing_Script/DancingScript-Medium.ttf") format('truetype');
}
/* latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fontsCollection/Dancing_Script/DancingScript-SemiBold.eot");
  src: url("/fontsCollection/Dancing_Script/DancingScript-SemiBold.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Dancing_Script/DancingScript-SemiBold.woff2") format('woff2'),
       url("/fontsCollection/Dancing_Script/DancingScript-SemiBold.woff") format('woff'),
       url("/fontsCollection/Dancing_Script/DancingScript-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fontsCollection/Dancing_Script/DancingScript-Bold.eot");
  src: url("/fontsCollection/Dancing_Script/DancingScript-Bold.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Dancing_Script/DancingScript-Bold.woff2") format('woff2'),
       url("/fontsCollection/Dancing_Script/DancingScript-Bold.woff") format('woff'),
       url("/fontsCollection/Dancing_Script/DancingScript-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fontsCollection/Dancing_Script/VariableFont_wght.eot");
  src: url("/fontsCollection/Dancing_Script/VariableFont_wght.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Dancing_Script/VariableFont_wght.woff2") format('woff2'),
       url("/fontsCollection/Dancing_Script/VariableFont_wght.woff") format('woff'),
       url("/fontsCollection/Dancing_Script/VariableFont_wght.ttf") format('truetype');
}


/*https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,870&family=Ubuntu:ital@1&display=swap"*/
/* cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 870;
  font-display: swap;
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-Regular.eot");
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-Regular.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Regular.woff2") format('woff2'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Regular.woff") format('woff'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Regular.ttf") format('truetype');
}
/* vietnamese */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 870;
  font-display: swap;
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-Italic.eot");
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-Italic.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Italic.woff2") format('woff2'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Italic.woff") format('woff'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Italic.ttf") format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 870;
  font-display: swap;
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.eot");
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.woff2") format('woff2'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.woff") format('woff'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf") format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 870;
  font-display: swap;
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-VariableFont_wght.eot");
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-VariableFont_wght.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-VariableFont_wght.woff2") format('woff2'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-VariableFont_wght.woff") format('woff'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 870;
  font-display: swap;
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-SemiBoldItalic.eot");
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-SemiBoldItalic.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-SemiBoldItalic.woff2") format('woff2'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-SemiBoldItalic.woff") format('woff'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-SemiBoldItalic.ttf") format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 870;
  font-display: swap;
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-SemiBold.eot");
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-SemiBold.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-SemiBold.woff2") format('woff2'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-SemiBold.woff") format('woff'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 870;
  font-display: swap;
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-MediumItalic.eot");
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-MediumItalic.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-MediumItalic.woff2") format('woff2'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-MediumItalic.woff") format('woff'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-MediumItalic.ttf") format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 870;
  font-display: swap;
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-Medium.eot");
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-Medium.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Medium.woff2") format('woff2'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Medium.woff") format('woff'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 870;
  font-display: swap;
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.eot");
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.woff2") format('woff2'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.woff") format('woff'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.ttf") format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 870;
  font-display: swap;
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-ExtraBold.eot");
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-ExtraBold.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-ExtraBold.woff2") format('woff2'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-ExtraBold.woff") format('woff'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-ExtraBold.ttf") format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 870;
  font-display: swap;
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-BoldItalic.eot");
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-BoldItalic.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-BoldItalic.woff2") format('woff2'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-BoldItalic.woff") format('woff'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-BoldItalic.ttf") format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 870;
  font-display: swap;
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-Bold.eot");
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-Bold.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Bold.woff2") format('woff2'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Bold.woff") format('woff'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 870;
  font-display: swap;
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-BlackItalic.eot");
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-BlackItalic.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-BlackItalic.woff2") format('woff2'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-BlackItalic.woff") format('woff'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-BlackItalic.ttf") format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 870;
  font-display: swap;
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-Black.eot");
  src: url("/fontsCollection/Playfair_Display/PlayfairDisplay-Black.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Black.woff2") format('woff2'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Black.woff") format('woff'),
       url("/fontsCollection/Playfair_Display/PlayfairDisplay-Black.ttf") format('truetype');
}

/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url("/fontsCollection/Ubuntu/Ubuntu-Regular.eot");
  src: url("/fontsCollection/Ubuntu/Ubuntu-Regular.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Ubuntu/Ubuntu-Regular.woff2") format('woff2'),
       url("/fontsCollection/Ubuntu/Ubuntu-Regular.woff") format('woff'),
       url("/fontsCollection/Ubuntu/Ubuntu-Regular.ttf") format('truetype');
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url("/fontsCollection/Ubuntu/Ubuntu-Italic.eot");
  src: url("/fontsCollection/Ubuntu/Ubuntu-Italic.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Ubuntu/Ubuntu-Italic.woff2") format('woff2'),
       url("/fontsCollection/Ubuntu/Ubuntu-Italic.woff") format('woff'),
       url("/fontsCollection/Ubuntu/Ubuntu-Italic.ttf") format('truetype');
}

/*https://fonts.googleapis.com/css?family=Montserrat|Ubuntu*/
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("/fontsCollection/Montserrat/Montserrat-Regular.eot");
  src: url("/fontsCollection/Montserrat/Montserrat-Regular.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Montserrat/Montserrat-Regular.woff2") format('woff2'),
       url("/fontsCollection/Montserrat/Montserrat-Regular.woff") format('woff'),
       url("/fontsCollection/Montserrat/Montserrat-Regular.ttf") format('truetype');
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("/fontsCollection/Montserrat/Montserrat-Light.eot");
  src: url("/fontsCollection/Montserrat/Montserrat-Light.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Montserrat/Montserrat-Light.woff2") format('woff2'),
       url("/fontsCollection/Montserrat/Montserrat-Light.woff") format('woff'),
       url("/fontsCollection/Montserrat/Montserrat-Light.ttf") format('truetype');
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("/fontsCollection/Montserrat/Montserrat-Bold.eot");
  src: url("/fontsCollection/Montserrat/Montserrat-Bold.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/Montserrat/Montserrat-Bold.woff2") format('woff2'),
       url("/fontsCollection/Montserrat/Montserrat-Bold.woff") format('woff'),
       url("/fontsCollection/Montserrat/Montserrat-Bold.ttf") format('truetype');
}
/* latin-ext */
@font-face {
  font-family: 'Monsieur La Doulaise';
  font-style: normal;
  font-weight: 400;
  src: url("/fontsCollection/MonsieurLaDoulaise/MonsieurLaDoulaise-Regular.eot");
  src: url("/fontsCollection/MonsieurLaDoulaise/MonsieurLaDoulaise-Regular.eot?#iefix") format('embedded-opentype'),
       url("/fontsCollection/MonsieurLaDoulaise/MonsieurLaDoulaise-Regular.woff2") format('woff2'),
       url("/fontsCollection/MonsieurLaDoulaise/MonsieurLaDoulaise-Regular.woff") format('woff'),
       url("/fontsCollection/MonsieurLaDoulaise/MonsieurLaDoulaise-Regular.ttf") format('truetype');
}
